<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h6 class="card-price text-center">Быстро, но больше ваших действий</h6>
            <hr>
            <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Регистрируете google cloud</strong></li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Предоставляете credentials.json</strong></li>
            </ul>
            <div class="d-grid">
              <a href="/hard-connection-type/" class="btn btn-primary text-uppercase">Подключить</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h3 class="card-price text-center">Медленно, но минимум ваших действий</h3>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Мы делаем вам почту</strong></li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Вы используете нашу почту</strong></li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn btn-primary text-uppercase">Подключить</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>